:root {
    --primary: #6a1b9a;
    --secondary: #ffab00;
    --backgroud-color: #000;
    --background-color2: #f5f5f5;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--background-color2);
}

head {
    background-color: var(--backgroud-color);
}

.black {
    background-color: var(--backgroud-color);
}
.coiny-font {
    font-family: 'Coiny', cursive;
}
.bg-purple {
    background-color: var(--primary);
}
.btn-gold {
    background-color: var(--backgroud-color);
    color: white;
}
.navbar-brand img {
    height: 50px;
    background-color: var(--backgroud-color);
}
.carousel-item {
    height: 60vh;
    min-height: 400px;
    overflow: hidden;
}
.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.front {
    height: auto;
}

/* Add 3D perspective to the container */
.card-flip-container {
    perspective: 1000px;
  }
  
  /* Set the cards to flip on hover */
  .card-flip {
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    height: 100%;
  }
  
  /* Flip the card on hover */
  .card-flip:hover {
    transform: rotateY(180deg);
  }
  
  /* Style the card faces */
  .card-body-flip, .card-body-back-flip {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* Hide the back face by default */
  .card-body-back-flip {
    transform: rotateY(180deg);
    padding: 1rem;
  }
  
  .card-body-back-flip p {
    color: #fff;
    text-align: center;
  }
  
  .card-body-flip {
    padding: 1rem;
  }

  .addon .card {
    max-height: 400px;
    overflow-y: auto;
  }

  #addonsCarousel {
    max-height: 400px;
  }
  #addonsCarousel .carousel-inner {
    height: 100%;
  }
  #addonsCarousel .card {
    height: 100%;
    max-height: 350px; 
  }

  .collapse {
    transition: all 0.3s ease-out;
}

/* Custom styling for the form container */
#formContainer {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .ratio-16x9 {
        --bs-aspect-ratio: 125%; /* Taller aspect ratio on mobile */
    }
}